{% extends "basetemplate.html" %} {% block headercontent %}
<li><a href="/newpost">New Post</a></li>
<li><a href="/logout">Logout [{{author}}]</a></li>
{% endblock %} {% block blog %}
<div class="text-center blogheadtitle">
    <h1></h1>
</div> {% endblock %} {% block content %}
<div class="blog">
    {%for blogitem in blogs%}
    <div class="container blogitem ">
        <header class="row blogitemhead">
            <div class="col-md-9">
                <h4 class="blog-title">{{blogitem.title}}</h4>
            </div>
        </header>
        <div class="row blogitembody">
            <div class="col-md-offset-1 col-md-10">
                <p class="blog-text">{{blogitem.blogtext}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                {% if blogitem.author: %}
                <p class="blog-date">Posted by : {{blogitem.author}} on {{blogitem.created}}</p>
                {% endif %}
            </div>
        </div>
        <footer class="row">
            <section class="col-md-offset-8 col-md-4 blogitemfooter">
                {% if blogitem.author != author: %}
                <form action="/bloglike/{{blogitem.key().id()}}" method="post">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> {{ blogitem.likes |length() }}</span>
                        </button>
                </form>
                <form action="/blogdislike/{{blogitem.key().id()}}" method="post">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> {{ blogitem.dislikes|length() }}</span>
                    </button>
                </form>
                <form action="/blogcomment/{{blogitem.key().id()}}" method="get">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"> Comment</span>
                    </button>
                </form>
                {% endif %} {% if blogitem.author == author: %}
                <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#DelBlogModel">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                 </button>
                <form action="/blogedit/{{blogitem.key().id()}}" method="get">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                    </button>
                </form>
                <form action="/blogdelete/{{blogitem.key().id()}}" method="post">
                    <div class="modal fade" id="DelBlogModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Delete Blog</h4>
                                </div>
                                <div class="modal-body">
                                    Do you really want to delete this blog article?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
            </section>
        </footer>
        {% if blogitem.comments %}
        <div class="row commentTitle">
            <div class="col-md-offset-1 col-md-10">
                <p>Comments</p>
            </div>
        </div>
        <section class="commentsection">
            <br> {% for commentid in blogitem.comments %} {%for item in blogcomments %} {% if item.commentid == commentid
            %}
            <div class="row comments">
                <div class="col-md-offset-1 col-md-10">
                    <p>{{item.comments}}</p>
                    <p class="blog-date">  - {{item.author}}</p>
                    <br>
                </div>
            </div>
            {% if item.author == author %}
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <form action="/blogcomedit/{{item.commentid}}" method="get">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"> Edit </span>
                    </button>
                    </form>
                    <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#DelComModel">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>               
                    <form action="/blogcomdel/{{item.commentid}}" method="post">
                        <div class="modal fade" id="DelComModel" tabindex="-1" role="dialog" aria-labelledby="delete">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="delete">Delete</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this comment?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <br>
                </div>
            </div>
            {% endif %} {% endif %} {% endfor %} {% endfor %}
            <br>

        </section>
        {% endif %}
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}